bin
build
include
/lib
/Scripts
/share
.Python
GeneG/.idea
*.pyc
*.pyo
*.swp
*.psd
.DS_Store
src
MongoFiles
pip-log.txt
/GeneG/djangoappengine/tests
/GeneG/djangoappengine/dbindexes.py
/GeneG/djangotoolbox/tests.py
/GeneG/django/bin/
/GeneG/django/contrib/admin/locale/
/GeneG/django/contrib/gis/
/GeneG/django/contrib/admindocs/
/GeneG/django/contrib/auth/locale/
/GeneG/django/contrib/comments/
/GeneG/django/contrib/contenttypes/locale/
/GeneG/django/contrib/csrf/
/GeneG/django/contrib/flatpages/
/GeneG/django/contrib/formtools/
/GeneG/django/contrib/humanize/
/GeneG/django/contrib/localflavor/
/GeneG/django/contrib/markup/
/GeneG/django/contrib/messages/locale/
/GeneG/django/contrib/messages/tests/
/GeneG/django/contrib/redirects/
/GeneG/django/contrib/sessions/locale/
/GeneG/django/contrib/sitemaps/
/GeneG/django/contrib/sites/locale/
/GeneG/django/contrib/syndication/
/GeneG/django/contrib/webdesign/
/GeneG/django/conf/locale/
/GeneG/django/conf/app_template/
/GeneG/django/conf/project_template/
/GeneG/django/test/
/GeneG/django/utils/unittest/