bin
build
include
/lib
/Scripts
/share
.Python
pocketgenome/.idea
dump
*.pyc
*.pyo
*.swp
*.psd
.DS_Store
src
MongoFiles
pip-log.txt
/pocketgenome/djangoappengine/tests
/pocketgenome/djangoappengine/dbindexes.py
/pocketgenome/djangotoolbox/tests.py
/pocketgenome/django/bin/
/pocketgenome/django/contrib/admin/locale/
/pocketgenome/django/contrib/gis/
/pocketgenome/django/contrib/admindocs/
/pocketgenome/django/contrib/auth/locale/
/pocketgenome/django/contrib/comments/
/pocketgenome/django/contrib/contenttypes/locale/
/pocketgenome/django/contrib/csrf/
/pocketgenome/django/contrib/flatpages/
/pocketgenome/django/contrib/formtools/
/pocketgenome/django/contrib/humanize/
/pocketgenome/django/contrib/localflavor/
/pocketgenome/django/contrib/markup/
/pocketgenome/django/contrib/messages/locale/
/pocketgenome/django/contrib/messages/tests/
/pocketgenome/django/contrib/redirects/
/pocketgenome/django/contrib/sessions/locale/
/pocketgenome/django/contrib/sitemaps/
/pocketgenome/django/contrib/sites/locale/
/pocketgenome/django/contrib/syndication/
/pocketgenome/django/contrib/webdesign/
/pocketgenome/django/conf/locale/
/pocketgenome/django/conf/app_template/
/pocketgenome/django/conf/project_template/
/pocketgenome/django/test/
/pocketgenome/django/utils/unittest/